img {
  width: 20vw;
  border-radius: 5px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.808);
  width: 35vw;
  border: 1px solid;
  border-color: rgba(248, 103, 51, 0.699);
  border-radius: 10px;
  margin: 1%;
  transition: opacity 1s;
  transition: background-color 1000ms linear;
}

.card:hover {
  background-color: rgba(128, 128, 128);
  transition: background-color 1000ms linear;
}
.container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.filters_search {
  display: flex;
  width: 100vw;
  align-items: flex-start;
  justify-content: space-evenly;
}

li {
  height: 30px;
  background-color: rgba(128, 128, 128, 0.808);
  border-bottom: black 1px solid;
  cursor: default;
}

.noperros {
  border-color: rgba(248, 103, 51, 0.699);
  color: white;
}

.none {
  display: none;
}
