.drop {
  list-style: none;
  width: 100%;
  height: fit-content;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: inherit;
}
.temp {
  height: 30px;
  background-color: rgba(128, 128, 128, 0.808);

  border-bottom: black 1px solid;
}
.selTemp {
  height: 30px;
  background: rgb(255, 42, 42, 0.808);
  border-bottom: black 1px solid;
}
.filtermenu {
  background-color: rgba(128, 128, 128, 0.808);
  border: solid;
  border-color: rgba(248, 103, 51, 0.699);
  border-radius: 5px;
}
