.nav {
  background-color: rgba(248, 103, 51, 0.699);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.icon {
  width: 5vw;
}
.navbutton {
  background-color: rgba(128, 128, 128, 0.808);
  border: none;
  border-radius: 5px;
  height: 50px;
}
